:root {
  --dark-blue: rgb(26, 18, 65);
  --light-blue: rgb(36, 37, 97);
  --light-blue2: rgb(74, 91, 146);
  --pink: rgb(255, 174, 185);
  --dark-grey: rgb(180, 200, 226);
  --light-grey: rgb(236, 242, 250);
  --grey: rgb(224, 232, 243);
  --gradient: linear-gradient(to bottom, var(--grey), var(--light-grey));

  --h1-size: 3.3vw;
  --h2-size: 1.4rem;
  --nav-item: calc(100vh / 6);
}
::-webkit-scrollbar {
  display: none;
}
body,
* {
  padding: 0;
  margin: 0;
}
body {
  cursor: url(./img/cursor1.png), auto;
  font-family: helvetica, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 0.9rem;
  color: rgb(71, 70, 78);
}
section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

h1,
h2,
h3 {
  color: var(--dark-blue);
  font-weight: 800;
  line-height: 1.5;
}
h1 {
  text-transform: uppercase;
  font-size: var(--h1-size);
  letter-spacing: 0.02pc;
}
h2 {
  font-size: var(--h2-size);
  margin-bottom: 3rem;
}
h3 {
  font-size: 1.2rem;
  margin-bottom: 1.4rem;
}
p {
  font-size: 0.85rem;
  text-align: justify;
  line-height: 1.6;
}

a.link {
  color: var(--light-blue);
  transition: background-color 0.3s;
}
a.link:hover {
  color: var(--light-grey);
  text-decoration: none;
  background-color: var(--pink);
}

/* Sliding Text */
.sliding-text-container {
  overflow: hidden;
  position: relative;
}
.sliding-text {
  display: inline-block;
  transform: translateY(var(--h1-size));
  opacity: 0;
}

.sliding-text:after {
  content: " ";
  background: var(--pink);
  display: block;
  width: 0%;
  height: var(--h1-size);
  position: absolute;
  left: 0;
  z-index: -1;
  top: calc(var(--h2-size) + 0.32rem);
}
h1 .sliding-text:after {
  top: calc(var(--h1-size) + 0.1vw - 5px);
}

/* ******************** MENU | NAV ******************** */
.navigation {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100vh;
  width: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.navigation li {
  height: var(--nav-item);
  position: relative;
}
.navigation a {
  display: inline-block;
  width: var(--nav-item);
  height: var(--nav-item);
}
/* Menu-Shape */
.menu-shape {
  display: block;
  width: 0.5px;
  height: var(--nav-item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background: var(--light-blue);
  transition: 0.1s ease;
}
/* Menu-Shape | hover */
.navigation a:hover .menu-shape {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--dark-blue);
}
/* Menu-Shape | active */
.navigation a.active .menu-shape {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--pink);
}

/* add contacts-active class with js when contacts section */
.navigation a.active.contacts-active .menu-shape {
  background: var(--light-grey);
}
.navigation a.active.contacts-active .menu-text {
  border-bottom: 1px solid var(--light-grey);
}

/* Menu-Text */
.menu-text {
  display: none;
  position: absolute;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  right: calc(var(--nav-item) / 1.3);
  top: 50%;
  transform: translateY(-50%);
  color: var(--light-blue);
  transition: color 0.2s ease;
}
/* Menu-Text | hover */
.navigation a:hover .menu-text {
  display: block;
  color: var(--light-blue);
}
/* Menu-Text | active */
.navigation a.active .menu-text {
  display: block;
  border-bottom: 1px solid var(--pink);
  color: var(--dark-blue);
}

/* **************** HEADER | HOME  ************** */
#home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 4vw 12vw 8vw 30vw;
  position: relative;
}

.circles-container {
  width: 100%;
  height: 100%;
  background: var(--gradient);
  position: relative;
  perspective: 100px;
  opacity: 0;
  animation: fade-in 1000ms cubic-bezier(0.46, 0.08, 0.94, 1.31) 1000ms forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dot {
  background: radial-gradient(
    rgb(250, 213, 213) 15%,
    rgb(245, 193, 193) 40%,
    rgb(236, 165, 165)
  );

  border-radius: 50%;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
}

/* Heading  */
.text-wrapper {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%);
}
.text-wrapper h1 {
  overflow: hidden;
  box-sizing: border-box;
  padding: 6px 14px;
}

/* animations in home section */
#home .sliding-text {
  animation: slide-in 1000ms ease-out 200ms forwards;
}
#home .sliding-text:after {
  animation: width-grow 1000ms ease-out 1000ms forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(var(--h1-size));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes width-grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* animate h2 when specific section in view */
section.in-view h2 .sliding-text {
  animation: slide-in 800ms ease-out forwards;
}
section.in-view h2 .sliding-text:after {
  animation: width-grow 1000ms ease-out 600ms forwards;
}

/* ****************** ABOUT SECTION ******************** */
.about {
  background: var(--light-grey);
}
.about h2 {
  margin-bottom: 3.5rem;
}

/* ****************** SKILLS SECTION ******************** */
.technologies {
  background-color: white;
}
.technologies h2 {
  margin-bottom: 3rem;
  text-align: center;
}
.tech-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto 2fr;
  grid-gap: 3px 30px;
}
.tech-name {
  font-size: 0.7rem;
  /* font-weight: bold; */
  text-align: left;
  padding: 5px;
}
.tech-level {
  width: 100%;
  height: 6px;
  align-self: center;
  overflow: hidden;
}
.base {
  width: 100%;
  height: 6px;
  background-color: rgb(240, 238, 247);
  border-radius: 3px;
  position: relative;
  top: -6px;
}
.level {
  height: 6px;
  background-color: var(--dark-grey);
  border-radius: 3px;
  position: relative;
  z-index: 1;
  opacity: 0;
}
@keyframes animate-level {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.technologies.in-view .level {
  animation: animate-level 1000ms ease-in-out 1400ms forwards;
}

/* ****************** PROJECTS SECTION ******************** */

#slide1,
#slide2,
#slide3 {
  background: var(--light-grey);
}

.gif {
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
  box-shadow: 0 0 6px 1px var(--grey);
}
.links {
  display: inline-block;
  width: 83px;
}
.links a {
  display: block;
  width: 30px;
  height: 30px;
  color: var(--dark-grey);
  text-decoration: none;
  margin: 0 0 0 20px;
  transition: color 0.4s ease;
}
.links a > i {
  font-size: 1.3rem;
  line-height: 30px;
}
.links .hosted > i {
  font-size: 1.1rem;
}
.links a:hover {
  color: var(--light-blue);
}

.projects h3 {
  margin-bottom: 1.4rem;
}
ul.technologies-used {
  font-size: 0.7rem;
  list-style-type: none;
  color: var(--light-blue2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 1rem;
}

/* ****************** OTHER SECTION ******************** */
.other {
  background-color: white;
}
.other h2 {
  text-align: center;
  margin-bottom: 2rem;
}

iframe,
embed {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 7px;
}

/* ****************** CONTACTS SECTION ******************** */
.contacts {
  background-color: var(--pink);
}
.contacts .sliding-text:after {
  background-color: var(--light-grey);
}
.contacts h2 {
  margin-bottom: 5rem;
}

.e-mail {
  color: var(--dark-blue);
  font-size: 1rem;
}
.e-mail span {
  font-weight: bold;
  padding-left: 0.5rem;
}

.socials {
  list-style-type: none;
  margin-top: 1.7rem;
}
.socials a {
  color: var(--dark-blue);
  text-decoration: none;
  padding: 0.3rem 0;
}
.socials a:hover {
  color: var(--light-grey);
}
.icon {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-right: 0.6rem;
}
.socials span {
  line-height: 2rem;
}
.fa-codesandbox {
  background: url(./img/codesandbox-blue.svg) no-repeat;
  background-position: center center;
  height: 1.2rem;
  width: 1.2rem;
  position: relative;
  top: 0.3rem;
}
.socials a:hover .fa-codesandbox {
  background: url(./img/codesandbox-grey.svg) no-repeat;
}

/* ******************************* SLIDER ****************************** */
.slider-container {
  /* overflow: hidden; */
  position: relative;
}

.slider {
  width: 100vw;
  height: 100vh;
}

.project {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

/* dots */
.slider-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 22;
}
.visible {
  display: flex;
}
.slider-dots {
  list-style-type: none;
  display: flex;
}
.slider-link {
  display: block;
  width: 22px;
  height: 22px;
  padding: 8px;
  margin: 8px;
  margin-bottom: 15px;
}
.slider-dot {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--light-blue);
  transition: background 0.3s ease;
}
/* dot | hover */
.slider-link:hover .slider-dot {
  background: var(--dark-blue);
}
/* dot | active */
.slider-link.active .slider-dot {
  transform: scale(1.6);
  background: var(--pink);
}

/* arrows */
.arrow {
  width: 100px;
  height: 21px;
  cursor: pointer;
  margin: 8px 30px 30px;
  position: relative;
}
.arrow span {
  display: block;
  width: 100px;
  height: 0.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-blue);
  transition: 0.1s ease;
}
/* arrow | hover */
.arrow:hover span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--dark-blue);
}

/* ################################################################### */
/* ########################### MEDIA QUERY ########################## */
/* --------------------------------------------  < 768px ----- */
@media only screen and (max-width: 768px) {
  #home {
    padding: 4vw;
  }

  .menu-btn {
    position: fixed;
    top: 44px;
    right: 42px;
    width: 19px;
    height: 15px;
    z-index: 400;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: 0;
    transition: transform 500ms;
    display: block;
  }
  .menu-btn:focus {
    outline: 0;
  }

  .btn-line {
    position: relative;
    width: 17px;
    height: 2px;
    background-color: var(--pink);
    margin: 0 0 5px 0;
  }

  .menu-btn-circle {
    position: fixed;
    top: 31px;
    right: 32px;
    display: block;
    border-radius: 50%;
    background-color: var(--dark-blue);
    width: 40px;
    height: 40px;
    z-index: 300;
  }

  /* CLOSED */
  .closed.menu-btn {
    animation: animate-lines1 300ms ease-in 400ms forwards;
  }
  @keyframes animate-lines1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .closed .btn-line:nth-child(1) {
    animation: first-ln-closed 400ms ease-in forwards;
  }
  .closed .btn-line:nth-child(2) {
    animation: second-ln-closed 500ms ease-in forwards;
  }
  .closed .btn-line:nth-child(3) {
    animation: third-ln-closed 400ms ease-in forwards;
  }

  @keyframes first-ln-closed {
    0% {
      transform: translate(0px, 7px) rotate(45deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes second-ln-closed {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes third-ln-closed {
    0% {
      transform: translate(0px, -7px) rotate(-45deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .closed.navigation {
    display: none;
    opacity: 0;
  }

  /* OPEN */
  .open.menu-btn {
    animation: animate-lines2 200ms ease-in forwards;
  }
  @keyframes animate-lines2 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

  .open .btn-line:nth-child(1) {
    animation: first-ln-open 400ms ease-in 400ms forwards;
  }
  .open .btn-line:nth-child(2) {
    animation: second-ln-open 400ms ease-in 300ms forwards;
  }
  .open .btn-line:nth-child(3) {
    animation: third-ln-open 400ms ease-in 400ms forwards;
  }

  @keyframes first-ln-open {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: translate(1px, 7px) rotate(45deg);
    }
  }
  @keyframes second-ln-open {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes third-ln-open {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: translate(1px, -7px) rotate(-45deg);
    }
  }

  .open.menu-btn-circle {
    animation: circle-grow 800ms ease-out 300ms forwards;
  }

  @keyframes circle-grow {
    0% {
      width: 40px;
      height: 40px;
      top: 31px;
      right: 32px;
      transform: translate(0);
    }
    100% {
      width: 180vh;
      height: 180vh;
      top: -50%;
      right: -50%;
      transform: translateY(50%, 50%);
    }
  }

  .open.navigation {
    opacity: 0;
    animation: fade-in 400ms ease-out 600ms forwards;
    z-index: 350;
    left: 0;
    right: 0;
    width: 100%;
    align-items: flex-start;
    flex: 1;
  }
  .open.navigation ul {
    align-items: flex-start;
  }
  .open.navigation li {
    display: block;
    position: static;
    width: auto;
  }
  .open.navigation a {
    display: block;
    width: 350%;
    height: 100%;
    /* background-color: blue; */
  }

  /* Menu-Text */
  .open .menu-text {
    display: inline-flex;
    position: relative;
    top: 50px;
    left: 3rem;
    color: var(--grey);
    align-items: center;
    justify-content: center;
  }
  /* Menu-Text | hover */
  .open.navigation a:hover .menu-text {
    color: var(--light-blue);
    display: inline-block;
  }
  /* Menu-Text | active */
  .open.navigation a.active .menu-text {
    display: inline-block;
    color: var(--pink);
    border-bottom: 1px solid var(--pink);
  }

  /* Menu-Shape */
  .open .menu-shape {
    display: none;
  }

  /********** PROJECTS SECTION | <768px *******/
  section.project {
    align-items: flex-start;
    padding-top: 1rem;
  }
  .overflow-hidden-small {
    height: 90%;
    width: 100%;
    overflow: scroll;
  }

  ul.technologies-used {
    padding-bottom: 0.6rem;
  }

  /********** OTHER SECTION | <768px *******/
  .hide-on-small {
    display: none;
  }
}
