:root {
  --dark-blue: rgb(18, 1, 56);
  --dark-blue2: rgb(41, 10, 107);
  --light-blue: rgb(73, 86, 124);
  --pink: rgb(255, 184, 184);
  --dark-grey: rgb(181, 193, 209);
  --light-grey: rgb(249, 247, 253);
  --grey: rgb(220, 216, 226);
  --gradient: linear-gradient(to bottom, rgb(208, 219, 233), var(--light-grey));
  --h1-size: 3vw;
  --h2-size: 1.4rem;
  --nav-item: calc(100vh / 6);
}
::-webkit-scrollbar {
  display: none;
}
body,
* {
  padding: 0;
  margin: 0;
}
body {
  cursor: url(./img/cursor.png), auto;
  font-family: helvetica, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 0.9rem;
}
section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

h1,
h2,
h3 {
  color: var(--dark-blue);
  font-weight: 800;
  line-height: 1.5;
}
h1 {
  text-transform: uppercase;
  font-size: var(--h1-size);
  letter-spacing: 0.03pc;
}
h2 {
  font-size: var(--h2-size);
  margin-bottom: 3rem;
}
h3 {
  font-size: 1.2rem;
  margin-bottom: 1.4rem;
}
p {
  text-align: justify;
}

/* Sliding Text */
.sliding-text-container {
  overflow: hidden;
  position: relative;
}
.sliding-text {
  display: inline-block;
  transform: translateY(var(--h1-size));
  opacity: 0;
}

.sliding-text:after {
  content: " ";
  background: var(--pink);
  display: block;
  width: 0%;
  height: var(--h1-size);
  position: absolute;
  left: 0;
  z-index: -1;
  top: calc(var(--h2-size) + 5px);
}

/* ******************** MENU | NAV ******************** */
.navigation {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100vh;
  width: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.navigation li {
  height: var(--nav-item);
  position: relative;
}
.navigation a {
  display: inline-block;
  width: var(--nav-item);
  height: var(--nav-item);
  /* background-color: blue; */
}
/* Menu-Shape */
.menu-shape {
  display: block;
  width: 0.5px;
  height: var(--nav-item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background: var(--light-blue);
  transition: 0.1s ease;
}
/* Menu-Shape | hover */
.navigation a:hover .menu-shape {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--dark-blue);
}
/* Menu-Shape | active */
.navigation a.active .menu-shape {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--pink);
}

/* add contacts-sctive class with js when contacts section */
.navigation a.active.contacts-active .menu-shape {
  background: var(--light-grey);
}
.navigation a.active.contacts-active .menu-text {
  border-bottom: 1px solid var(--light-grey);
}

/* Menu-Text */
.menu-text {
  display: none;
  position: absolute;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  right: var(--nav-item);
  top: 50%;
  transform: translateY(-50%);
  color: var(--light-blue);
  transition: color 0.2s ease;
}
/* Menu-Text | hover */
.navigation a:hover .menu-text {
  display: block;
  color: var(--light-blue);
}
/* Menu-Text | active */
.navigation a.active .menu-text {
  display: block;
  border-bottom: 1px solid var(--pink);
  color: var(--dark-blue);
}

/* **************** HEADER | HOME  ************** */
#home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 5vw 12vw 10vw 28vw;
}

.circles-container {
  width: 100%;
  height: 100%;
  background: var(--gradient);
  position: relative;
  perspective: 100px;
  opacity: 0;
  animation: fade-in 1000ms cubic-bezier(0.46, 0.08, 0.94, 1.31) 1000ms forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dot {
  background: radial-gradient(
    rgb(255, 218, 218) 15%,
    rgb(255, 197, 197) 40%,
    rgb(255, 168, 168)
  );
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
}

/* Heading  */
.text-wrapper {
  position: absolute;
  top: 16%;
  left: 40%;
  transform: translate(-50%);
}
.text-wrapper h1 {
  overflow: hidden;
  box-sizing: border-box;
  padding: 6px 14px;
}

/* animations in home section */
#home .sliding-text {
  animation: slide-in 1000ms ease-out 200ms forwards;
}
#home .sliding-text:after {
  animation: width-grow 1000ms ease-out 1000ms forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(var(--h1-size));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes width-grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* ****************** ABOUT SECTION ******************** */
.about {
  background: var(--light-grey);
}
.about h2 {
  margin-bottom: 3.5rem;
}

/* animate when in view */
.about.in-view h2 .sliding-text {
  animation: slide-in 800ms ease-out forwards;
}
.about.in-view h2 .sliding-text:after {
  animation: width-grow 1000ms ease-out 600ms forwards;
}

/* ****************** SKILLS SECTION ******************** */
.technologies {
  background-color: white;
}
.technologies h2 {
  margin-bottom: 3rem;
  text-align: center;
}
.tech-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto 2fr;
  grid-gap: 3px 30px;
}
.tech-name {
  font-size: 0.7rem;
  /* font-weight: bold; */
  text-align: left;
  padding: 5px;
}
.tech-level {
  width: 100%;
  height: 6px;
  align-self: center;
  overflow: hidden;
}
.base {
  width: 100%;
  height: 6px;
  background-color: rgb(240, 238, 247);
  border-radius: 3px;
  position: relative;
  top: -6px;
}
.level {
  height: 6px;
  background-color: var(--dark-grey);
  border-radius: 3px;
  position: relative;
  z-index: 1;
  opacity: 0;
}
@keyframes animate-level {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* animate when in view */
.technologies.in-view h2 .sliding-text {
  animation: slide-in 800ms ease-out forwards;
}
.technologies.in-view h2 .sliding-text:after {
  animation: width-grow 800ms ease-out 600ms forwards;
}
.technologies.in-view .level {
  animation: animate-level 1000ms ease-in-out 1400ms forwards;
}

/* ****************** PROJECTS SECTION ******************** */
.projects {
  background: var(--grey);
}
.project-image {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  background-color: var(--dark-grey);
}
.links {
  display: inline-block;
  width: 83px;
}
.links a {
  display: block;
  width: 30px;
  height: 30px;
  color: var(--dark-grey);
  text-decoration: none;
  margin: 0 0 0 20px;
  transition: color 0.4s ease;
}
.links a > i {
  font-size: 1.3rem;
  line-height: 30px;
}
.links .hosted > i {
  font-size: 1.1rem;
}
.links a:hover {
  color: var(--light-blue);
}

.projects h3 {
  margin-bottom: 1.4rem;
}
ul.technologies-used {
  /* padding-left: 12px; */
  font-size: 0.7rem;
  list-style-type: none;
  color: var(--light-blue);
}

/* ****************** OTHER SECTION ******************** */
.other {
  background-color: var(--light-grey);
}
.other h3 {
  text-align: center;
}
.codepen {
  background-color: var(--dark-grey);
  border-radius: 15px;
  width: 100%;
  height: 150px;
  margin: 5px 0;
}

/* ****************** CONTACTS SECTION ******************** */
.contacts {
  background-color: var(--pink);
}
.contacts .sliding-text:after {
  background-color: var(--light-grey);
}
.contacts h2 {
  margin-bottom: 5rem;
}

.e-mail {
  color: var(--dark-blue);
  font-size: 1rem;
}
.e-mail span {
  font-weight: bold;
  padding-left: 0.5rem;
}

.socials {
  list-style-type: none;
  margin-top: 1.7rem;
}
.socials a {
  color: var(--dark-blue);
  text-decoration: none;
  padding: 0.3rem 0;
}
.socials a:hover {
  color: var(--light-grey);
}
.icon {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-right: 0.6rem;
}
.socials span {
  line-height: 2rem;
}
.fa-codesandbox {
  background: url(./img/codesandbox-blue.svg) no-repeat;
  background-position: center center;
  height: 1.2rem;
  width: 1.2rem;
  position: relative;
  top: 0.3rem;
}
.socials a:hover .fa-codesandbox {
  background: url(./img/codesandbox-grey.svg) no-repeat;
}

/* animations when in view */
.contacts.in-view .sliding-text {
  animation: slide-in 800ms ease-out forwards;
}
.contacts.in-view .sliding-text:after {
  animation: width-grow 800ms ease-out 600ms forwards;
}

/* ******************************* SLIDER ****************************** */
.slider-container {
  /* overflow: hidden; */
  position: relative;
}

.slider {
  width: 300vw;
  height: 100vh;
}

.project {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

/* dots */
.slider-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 22;
}
.slider-dots {
  list-style-type: none;
  display: flex;
}
.slider-link {
  display: block;
  width: 22px;
  height: 22px;
  padding: 8px;
  margin: 8px;
  margin-bottom: 15px;
}
.slider-dot {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--light-blue);
  transition: background 0.3s ease;
}
/* hover dot */
.slider-link:hover .slider-dot {
  background: var(--dark-blue);
}
/* active dot */
.slider-link.active-dot .slider-dot {
  transform: scale(1.6);
  background: var(--pink);
}
