:root {
  --dark-blue: rgb(0, 0, 0);
  --light-blue: rgb(0, 3, 175);
  --accent: rgb(0, 0, 255);
  --dark-grey: rgb(175, 187, 255);
  --light-grey: rgb(234, 242, 253);
  --grey: rgb(255, 255, 255);
  --gradient: linear-gradient(to bottom, var(--grey), var(--light-grey));

  --h1-size: 3.5vw;
  --h2-size: 1.8rem;
  --fixed-el-h: 60vh;
  --nav-item: calc(var(--fixed-el-h) / 6);
}
::-webkit-scrollbar {
  display: none;
}
body,
* {
  padding: 0;
  margin: 0;
}
body {
  cursor: url(./img/cursor.png), auto;
  font-family: "Roboto Mono", monospace;
  font-size: 0.9rem;
  color: rgb(39, 39, 39);
}
section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

h1,
h2,
h3 {
  color: var(--dark-blue);
  font-weight: 400;
  line-height: 1.5;
  font-family: "Abril Fatface", serif;
}
h1 {
  font-size: var(--h1-size);
  letter-spacing: 2px;
}
h2 {
  font-size: var(--h2-size);
  margin-bottom: 3rem;
}
h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-family: "Work Sans", sans-serif;
  text-align: left;
  /* font-weight: bold; */
}
p {
  font-size: 0.85rem;
  text-align: left;
  line-height: 1.6;
  font-family: "Work Sans", sans-serif;
}

a.link {
  color: var(--light-blue);
  transition: background-color 0.4s ease;
}
a.link:hover {
  color: var(--light-grey);
  text-decoration: none;
  background-color: var(--accent);
}

/* Sliding Text */
.sliding-text-container {
  overflow: hidden;
  position: relative;
}
.sliding-text {
  display: inline-block;
  transform: translateY(var(--h1-size));
  opacity: 0;
}

.sliding-text:after {
  content: " ";
  background: var(--accent);
  display: block;
  width: 0%;
  height: calc(var(--h2-size) / 3);
  position: absolute;
  left: 0;
  z-index: -1;
  top: calc(var(--h2-size) + 0.6rem);
}
h1 .sliding-text:after {
  display: none;
  top: calc(var(--h1-size) + 0.1vw);
}
/* ******************** Logo ******************** */

.logo {
  position: fixed;
  top: 14px;
  left: 8px;
  z-index: 101;
}
.logo img {
  width: 34px;
  height: auto;
}

/* ******************** MENU | NAV ******************** */
.navigation {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100vh;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.navigation li {
  height: var(--nav-item);
  position: relative;
}
.navigation a {
  display: inline-block;
  width: var(--nav-item);
  height: var(--nav-item);
}
/* Menu-Shape */
.menu-shape {
  display: block;
  width: 0.5px;
  height: var(--nav-item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background: var(--dark-blue);
  transition: 0.1s ease;
  opacity: 0.7;
}
/* Menu-Shape | hover */
.navigation a:hover .menu-shape {
  opacity: 1;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--dark-blue);
}
/* Menu-Shape | active */
.navigation a.active .menu-shape {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--accent);
  opacity: 1;
}

/* Menu-Text */
.navigation a.active .menu-text {
  transform: translateY(-10px);
}

/* add contacts-active class with js when contacts section */
.navigation a.active.contacts-active .menu-shape {
  background: var(--grey);
}
.navigation a.active.contacts-active .menu-text {
  border-bottom: 1px solid var(--grey);
  color: var(--light-grey);
}

/* Menu-Text */
.menu-text {
  display: none;
  position: absolute;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  right: calc(var(--nav-item) / 1.3);
  top: 50%;
  transform: translateY(-50%);
  color: var(--light-blue);
  transition: color 0.2s ease;
}
/* Menu-Text | hover */
.navigation a:hover .menu-text {
  display: block;
}
/* Menu-Text | active */
.navigation a.active .menu-text {
  display: block;
  border-bottom: 1px solid var(--accent);
  color: var(--dark-blue);
}
.menu-btn {
  display: none;
}
/* **************** EMAIL  ************** */
.fixed-contacts {
  position: fixed;
  /* background: red; */
  left: 0;
  top: 0;
  width: 46px;
  height: 100vh;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.fixed-contacts-box {
  width: 100%;
  height: var(--fixed-el-h);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.email {
  font-size: 0.78rem;
  transform: rotate(-90deg) translateX(50%);
  display: block;
}
.icon-links i {
  color: var(--dark-blue);
  margin-right: 0;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-links a:hover i {
  color: var(--accent);
}
.icon-links a:hover {
  text-decoration: none;
}

/* **************** HEADER | HOME  ************** */
#home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 4vw 12vw 8vw 30vw;
  position: relative;
}

.circles-container {
  width: 100%;
  height: 100%;
  background: var(--gradient);
  position: relative;
  /* perspective: 100px; */
  opacity: 0;
  animation: fade-in 1000ms cubic-bezier(0.46, 0.08, 0.94, 1.31) 1000ms forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dot {
  background: radial-gradient(
    rgb(0, 0, 255) 15%,
    rgb(0, 0, 255) 40%,
    rgb(0, 0, 255)
  );

  border-radius: 50%;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
}

/* Heading  */
.text-wrapper {
  position: absolute;
  top: 40%;
  left: 34%;
  transform: translate(-50%);
}
.text-wrapper h1 {
  overflow: hidden;
  box-sizing: border-box;
  padding: 6px 14px;
}

/* animations in home section */
#home .sliding-text {
  animation: slide-in 1000ms ease-out 200ms forwards;
}
#home .sliding-text:after {
  animation: width-grow 1000ms ease-out 1000ms forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(var(--h1-size));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes width-grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* animate h2 when specific section in view */
section.in-view h2 .sliding-text {
  animation: slide-in 800ms ease-out forwards;
}
section.in-view h2 .sliding-text:after {
  animation: width-grow 1000ms ease-out 600ms forwards;
}

/* ****************** ABOUT SECTION ******************** */
.about {
  background: linear-gradient(var(--light-grey), transparent);
}
.about h2 {
  margin-bottom: 3rem;
}
.large-logo {
  transform: rotate(0) scale(0) translate(-30%, -400%);
}

.about.in-view .large-logo {
  opacity: 1;
  width: 110px;
  height: auto;
  position: absolute;
  top: 50vh;
  left: -70px;
  z-index: 0;
  transform: rotate(10deg);
  transition: transform 1s ease;
}

.about .large-logo:hover {
  transform: rotate(0) scale(0.85) translate(-30%, 20%);
}

.about-text {
  position: relative;
  top: 0;
  z-index: 1;
}

/* ****************** SKILLS SECTION ******************** */
.technologies {
  background: linear-gradient(var(--light-grey), transparent);
}
.technologies h2 {
  margin-bottom: 3rem;
  /* text-align: center; */
}
.tech-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto 2fr;
  grid-gap: 3px 20px;
}
.tech-name {
  font-size: 0.7rem;
  /* font-weight: bold; */
  text-align: left;
  padding: 5px;
}
.tech-level {
  width: 100%;
  height: 6px;
  align-self: center;
  overflow: hidden;
}
.base {
  width: 100%;
  height: 6px;
  background-color: rgb(240, 238, 247);
  border-radius: 3px;
  position: relative;
  top: -6px;
}
.level {
  height: 6px;
  background-color: var(--dark-grey);
  border-radius: 3px;
  position: relative;
  z-index: 1;
  opacity: 0;
}
@keyframes animate-level {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.technologies.in-view .level {
  animation: animate-level 1000ms ease-in-out 1400ms forwards;
}

/* ****************** PROJECTS SECTION ******************** */
.project-card {
  overflow: hidden;
}
.projects h2 {
  margin-bottom: 4rem;
}
.projects h3 {
  margin-top: 2rem;
  margin-bottom: 0.85rem;
  white-space: nowrap;
}
.project-link {
  display: block;
  width: 100%;
}
.project-card .project-link:hover h3 {
  color: var(--accent);
  text-decoration: none;
}
.project-card .project-link:hover {
  text-decoration: none;
}

.gif {
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.096);
}
.links {
  width: 100%;
  margin-top: 0.9rem;
  margin-bottom: 2rem;
  padding: 0 50px 0 0;
}
.links a {
  height: 30px;
  color: var(--dark-grey);
  text-decoration: none;
  margin: 20px 3px 0 3px;
  transition: color 0.4s ease;
}

.links a > i {
  font-size: 1.3rem;
  line-height: 30px;
}
.links .hosted > i {
  font-size: 1.1rem;
}
.links .hosted {
  margin-left: 1rem;
}
.links a:hover {
  color: var(--accent);
}

.link.project-page-link {
  padding: 4px 12px;
  color: var(--accent);
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.85rem;
  transition: color 0.3s ease;
}
.link.project-page-link:hover {
  color: var(--light-grey);
}

/* ****************** OTHER SECTION ******************** */
.other {
  background-color: white;
}
.other h2 {
  text-align: center;
  margin-bottom: 5rem;
}
.codepen {
  max-height: 250px;
}
.codepen-link {
  margin-top: 20px;
  float: right;
  padding: 2px 10px;
}

/* ****************** CONTACTS SECTION ******************** */
.contacts {
  background-color: var(--accent);
  color: var(--grey);
}
.contacts .sliding-text:after {
  background-color: var(--dark-grey);
}
.contacts h2 {
  margin-bottom: 5rem;
  color: var(--grey);
}

.e-mail {
  color: var(--grey);
  font-size: 1rem;
}
.e-mail span {
  font-weight: bold;
  padding-left: 0.5rem;
}

.socials {
  list-style-type: none;
  margin-top: 1.7rem;
}
.socials a {
  color: var(--grey);
  text-decoration: none;
  padding: 0.3rem 0;
}
.socials a:hover {
  color: var(--dark-grey);
}
.icon {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-right: 0.6rem;
}
.socials span {
  line-height: 2rem;
}
.fa-codesandbox {
  background: url(./img/codesandbox-blue.svg) no-repeat;
  background-position: center center;
  height: 1.2rem;
  width: 1.2rem;
  position: relative;
  top: 0.3rem;
}
.socials a:hover .fa-codesandbox {
  background: url(./img/codesandbox-grey.svg) no-repeat;
}

/* ################################################################### */
/* ########################### MEDIA QUERY ########################## */
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .hide-on-medium {
    display: none;
  }
}
/* --------------------------------------------  > 1208px ----- */
@media only screen and (max-width: 768px) {
  :root {
    --fixed-el-h: 60vh;
  }

  /* --------------------------------------------  < 768px ----- */
  @media only screen and (max-width: 768px) {
    .text-wrapper {
      width: 85%;
      transform: translate(0);
      left: 0;
    }
    h1 {
      font-size: 2rem;
    }
    #home {
      padding: 4vw;
    }

    .menu-btn {
      position: fixed;
      top: 27px;
      right: 21px;
      width: 19px;
      height: 15px;
      z-index: 400;
      cursor: pointer;
      border: none;
      background-color: transparent;
      outline: 0;
      transition: transform 500ms;
      display: block;
    }
    .menu-btn:focus {
      outline: 0;
    }

    .btn-line {
      position: relative;
      width: 19px;
      height: 2px;
      background-color: var(--dark-grey);
      margin: 0 0 4px 0;
    }

    .menu-btn-circle {
      position: fixed;
      top: 14px;
      right: 10px;
      display: block;
      border-radius: 50%;
      background-color: var(--dark-blue);
      width: 40px;
      height: 40px;
      z-index: 300;
    }

    /* CLOSED */
    .closed.menu-btn {
      animation: animate-lines1 300ms ease-in 400ms forwards;
    }
    @keyframes animate-lines1 {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }

    .closed .btn-line:nth-child(1) {
      animation: first-ln-closed 400ms ease-in forwards;
    }
    .closed .btn-line:nth-child(2) {
      animation: second-ln-closed 500ms ease-in forwards;
    }
    .closed .btn-line:nth-child(3) {
      animation: third-ln-closed 400ms ease-in forwards;
    }

    @keyframes first-ln-closed {
      0% {
        transform: translate(1px, 6px) rotate(45deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
    @keyframes second-ln-closed {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes third-ln-closed {
      0% {
        transform: translate(1px, -6px) rotate(-45deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
    .closed.navigation {
      display: none;
      opacity: 0;
    }

    /* OPEN */
    .open.menu-btn {
      animation: animate-lines2 200ms ease-in forwards;
    }
    @keyframes animate-lines2 {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(90deg);
      }
    }

    .open .btn-line:nth-child(1) {
      animation: first-ln-open 400ms ease-in 400ms forwards;
    }
    .open .btn-line:nth-child(2) {
      animation: second-ln-open 400ms ease-in 300ms forwards;
    }
    .open .btn-line:nth-child(3) {
      animation: third-ln-open 400ms ease-in 400ms forwards;
    }

    @keyframes first-ln-open {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: translate(1px, 6px) rotate(45deg);
      }
    }
    @keyframes second-ln-open {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes third-ln-open {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: translate(1px, -6px) rotate(-45deg);
      }
    }

    .open.menu-btn-circle {
      animation: circle-grow 800ms ease-out 300ms forwards;
    }

    @keyframes circle-grow {
      0% {
        width: 40px;
        height: 40px;
        top: 31px;
        right: 32px;
        transform: translate(0);
      }
      100% {
        width: 180vh;
        height: 180vh;
        top: -50%;
        right: -50%;
        transform: translateY(50%, 50%);
      }
    }

    .open.navigation {
      opacity: 0;
      animation: fade-in 400ms ease-out 600ms forwards;
      z-index: 350;
      left: 0;
      right: 0;
      width: 100%;
      align-items: flex-start;
      flex: 1;
    }
    .open.navigation ul {
      align-items: flex-start;
    }
    .open.navigation li {
      display: block;
      position: static;
      width: auto;
    }
    .open.navigation a {
      display: block;
      width: 350%;
      height: 100%;
      /* background-color: blue; */
    }

    /* Menu-Text */
    .open .menu-text {
      display: inline-flex;
      position: relative;
      top: 50px;
      left: 3rem;
      color: var(--dark-grey);
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      font-weight: 400;
    }
    /* Menu-Text | hover */
    .open.navigation a:hover .menu-text {
      color: var(--grey);
      display: inline-block;
    }
    /* Menu-Text | active */
    .open.navigation a.active .menu-text {
      display: inline-block;
      color: var(--grey);
      border-bottom: 1px solid var(--accent);
    }

    /* Menu-Shape */
    .open .menu-shape {
      display: none;
    }

    /********** PROJECTS SECTION | <768px *******/
    .projects h2 {
      margin-bottom: 0;
    }

    .project-card {
      margin-left: 8vw;
      margin-right: 8vw;
    }
    .project-card h3 {
      margin-bottom: 0.2rem;
      margin-top: 1.3rem;
      font-size: 0.9rem;
    }

    ul.technologies-used {
      padding-bottom: 0.6rem;
    }

    .projects .links a {
      display: none;
    }

    /********** OTHER SECTION | <768px *******/
    .hide-on-small {
      display: none;
    }

    .other h2 {
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}
